@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: theme('colors.dark.base');
  background-size: 700px;
  background-position-x: 150px;
  color: theme('colors.white');
}

*::-webkit-scrollbar {
  width: 1.5em;
}
*::-webkit-scrollbar-track {
  background-color: theme('colors.dark.base');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.light');
  border-radius: 1.5em;
}
